<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="loggers.xml"/>

    <bean id="app" class="com.dykov.spring.testproject.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileLogger"/>
    </bean>

    <bean id="client" class="com.dykov.spring.testproject.beans.Client">
        <constructor-arg value="100" type="int"/>
        <constructor-arg value="Alex" type="java.lang.String"/>
    </bean>

    <bean id="event" class="com.dykov.spring.testproject.beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>



</beans>
